<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Contacts</h1>
    </header>
    <main>
        <article>
           <address>
                <p>Contact With Us : +48 954 865 098</p>
           </address>
        </article>
    </main>
    <footer>
        <p>&copy; 2024-2025 Mike Pike</p>
    </footer>
</body>
</html>