<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mike Pike">
    <meta name="description" content="This page is about redirection to new one">
    <link rel="stylesheet" href="/css/main.css">
    <title>New Page</title>
</head>
<body>
    <header>
        <h1>This is New PAGE</h1>
    </header>
    <main>
        <p>New Content</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptate dolores veniam exercitationem modi consequatur cupiditate corrupti quas. Ullam ipsa voluptatum corrupti recusandae porro tempore, vero nesciunt cupiditate illum ab.</p>
    </main>
    <footer>
        <p>&copy; 2024-2025 Mike Pike</p>
    </footer>
</body>
</html>