body {
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 5rem;
    font-family: sans-serif;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a:any-link {
    color: white;
    transition: 0.3s;
}

a:hover, 
a:focus {
    color: orange;
    outline: none;
    text-decoration: none;
}